.container-fluid {
    position: relative;
}

.container-fluid .d-inline-flex {
    position: absolute;
    height: 100%;
    color: white;
}

.d-inline-flex h1 {
    font-size: 60px;
    font-weight:bolder;
}

.container.rounded-pill.border {
    overflow: hidden;
    background-color: white;
    position: absolute;
    width: fit-content;
    margin-top: 4rem;
  }

.bg-dark {
    background-color: black !important;
}

.bi-globe2 {
    color: white;
}

.d-flex.align-items-center button>a {
    text-decoration: none;
}
  @media screen and (max-width: 768px ) {
    .d-inline-flex h1 {
        font-size: 26px;
        
    }
    .container.rounded-pill.border {
        
        margin-top: 1rem;
    }
    .d-flex.flex-column.px-2 {
        font-size: 12px;
    }
    .d-flex.flex-column.px-2 input {
        font-size: 12px;
    }
  }
  @media screen and (max-width: 440px ) {
    section h5 {
        font-size: 19px;
        margin: 0;
        
    }
    section p {
        font-size: 13px;
    }
  }

  @media screen and (max-width:375px){
    #logo{
        width:70px;
        height: 40px;
    }    
}