.btn.btn-light{
    border-radius: 24px;
    border: 1px solid rgba(73, 72, 72, 0.696);
}

.container a {
    text-decoration: none; 
	font-weight: bold;
    color: black;
}

.container.my-5 .d-flex img {
    filter: invert(44%) sepia(93%) saturate(7483%) hue-rotate(332deg) brightness(92%) contrast(93%);
}

.container.text-center.d-flex.my-1  {
    background-color: yellowgreen;
}
.container .text-center .row .col {
    margin-bottom: 150px;
}

body p {
    margin-bottom: 0;
}